# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Sensitive environment variables
.env
*.key
*.pem
*.crt

# Reports / outputs
*.txt~
*.tmp

# IDE
.vscode/
.idea/

# Logs
*.log
logs/
